body {
    overflow: scroll;
}

/* Dashboard Overrides */
.dashboard-body {
    padding: 0;
    background-color: #fff;
}
.dashboard-header {
    padding: 20px;
    background-color: steelblue;
    color: #FFF;
    border-bottom: 1px solid #CCC;
}
.dashboard-row .dashboard-panel .panel-body.html,
.dashboard-row .dashboard-panel .panel-body.splunk-html {
    padding: 0;
}
.dashboard-menu.dashboard-header-editmenu {
    display: none;
}
.dashboard-row .dashboard-panel,
.dashboard-row .dashboard-panel .dashboard-element {
    position: static;
}