.navbar-splunkbar {
    position: relative;
}
.dashboard-header {
    padding: 20px;
    background-color: steelblue;
    color: #FFF;
    border-bottom: 1px solid #CCC;
}
.touromatic {
    padding: 0 30px 30px;
}
.touromatic h2 {
    background: #DDD;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 8px 15px;
}
.add-tour-img,
.image-tour-tile,
.image-tile,
.add-image {
    display: inline-block;
    position: relative;
    padding: 2px;
    border: 1px solid #CCC;
    margin: 0 10px 10px 0;
    background: #EEE;
    cursor: pointer;
    height: 250px;
    width: 250px;
    vertical-align: middle;
}
.add-tour h3,
.tour-tile h3 {
    padding: 10px;
    background: rgba(230, 230, 230, 0.9);
    border-bottom: 1px solid #666;
    color: #333;
    margin: 0;
}
h3 a {
    font-size: 12px;
    float: right;
    line-height: 18px;
}
h3.section-title {
    font-size: 20px;
    padding: 9px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 17px;
    color: #555;
    font-weight: normal;
}
p.tour-id {
    line-height: 36px;
    text-align: center;
    cursor: text;
}
.tour-item-container {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-size: cover;
}
.tour-item-container .info-container {
    background: rgba(0, 0, 0, 0.6);
    height: 240px;
    width: 230px;
    color: #FFF;
    padding: 5px 10px;
    position: absolute;
    top: 250px;
    transition: top .5s;
}
.tour-item-container .info-container.active {
    top: 0;
}
.tour-item-container .info-container .action-button {
    color: #CCC;
    display: block;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 186px;
    text-align: center;
    border: 1px solid #CCC;
    font-size: 16px;
    margin-top: 15px;
}
.tour-item-container .info-container .action-button:hover {
    color: #EEE;
    background: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
.interactive-tour-tile, .new-interactive-tour {
    display: inline-block;
}
.interactive-tour-item-container {
    display: inline-block;
    position: relative;
    padding: 5px;
    border: 1px solid #CCC;
    margin: 0 10px 10px 0;
    background: #EEE;
    width: 250px;
    vertical-align: middle;
}
.interactive-tour-action-items {
    padding: 10px;
}
.new-interactive-tour .interactive-tour-item-container .tour-label {
    width: 125px;
}
.new-interactive-tour .interactive-tour-item-container .btn{
    margin-top: -9px;
}
.add-tour-img,
.add-tour-int {
    position: relative;
    background: none;
    border: 5px dashed #CCC;
}
.add-tour-int {
    width: 110px;
    height: 110px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -8px;
    cursor: pointer;
}
.add-tour-img svg {
    fill: #CCC;
    position: absolute;
    top: 85px;
    left: 85px;
}
.add-tour-int svg {
    fill: #CCC;
    position: absolute;
    top: 16px;
    left: 16px;
}
.add-tour-img .add-tour-text {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 250px;
    color: #BBB;
    font-size: 15px;
}
.tour-section {
    margin-bottom: 25px;
}
.tour-images {
    position: relative;
    z-index: 1000;
    transition: padding .5s, background .5s;
    margin-bottom: 20px;
}
.tour-images.sorting {
    padding: 10px;
    background: #FFF;
}
.tour-images.sorting .image-tile {
    cursor: move;
}
.tour-images.sorting .image-tile .info-container {
    top: 250px !important;
}
.ui-sortable-helper .info-container {
    display: none;
}
.image-tile,
.add-image {
    padding: 2px;
    background: #FFF;
    border: 1px solid #CCC;
    margin: 10px 10px 0 0;
    display: inline-block;
    height: 250px;
    width: 250px;
    vertical-align: middle;
}
.image-tile .image-container,
.add-image .image-container {
    height: 250px;
    position: relative;
    overflow: hidden;
    background-size: cover;
}
.image-tile .image-container .info-container,
.add-image .image-container .info-container {
    background: rgba(0, 0, 0, 0.6);
    height: 240px;
    width: 240px;
    color: #FFF;
    padding: 5px 10px;
    position: absolute;
    top: 200px;
    transition: top .5s;
}
.image-tile .image-container .info-container.active,
.add-image .image-container .info-container.active {
    top: 0;
}
.image-tile .image-container .info-container .action-button,
.add-image .image-container .info-container .action-button {
    color: #CCC;
    display: block;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 188px;
    text-align: center;
    border: 1px solid #CCC;
    font-size: 16px;
}
.image-tile .image-container .info-container .action-button:hover,
.add-image .image-container .info-container .action-button:hover {
    color: #EEE;
    background: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
.image-tile.add-image,
.add-image.add-image {
    cursor: pointer;
    position: relative;
    background: none;
    border: 5px dashed #CCC;
}
.image-tile.add-image svg,
.add-image.add-image svg {
    fill: #CCC;
    position: absolute;
    top: 85px;
    left: 85px;
}
.image-tile.add-image .add-image-text,
.add-image.add-image .add-image-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 250px;
    color: #BBB;
    font-size: 20px;
}
.dropzone {
    width: 100%;
    height: 150px;
    position: relative;
}
.dropzone-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -25px;
}
.dropzone-icon .fill {
    fill: #F58220;
}
.dropzone-box {
    fill: none;
    position: absolute;
    left: 10px;
    top: 5px;
    display: block;
    width: 395px !important;
}
.dropzone-box .dashed {
    stroke-width: 2px;
    stroke-dasharray: 10,10;
    stroke: rgba(245, 130, 32, 0.5);
}
.dropzone-text {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}
.dropzone-text h2 {
    color: #65A637;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    color: #F58220;
}
.modal .modal-body {
    max-height: 900px !important;
}
.modal .caption-text {
    margin-top: 15px;
}
.modal .caption-text label {
    font-weight: bold;
}
.modal textarea {
    width: 400px;
}
.modal .selected-file {
    display: inline-block;
    margin-left: 10px;
}
.modal .preview-tile {
    height: 100px;
    width: 230px;
    border: 1px solid #CCC;
    background-size: cover !important;
    display: block;
    vertical-align: middle;
    margin: 15px auto;
    text-align: center;
    padding-top: 70px;
    color: #AAA;
}
.apps-control-group {
    margin-bottom: 10px;
}
.apps-control-group .dropdown-menu {
    position: fixed;
}
.image-tile-placeholder {
    border: 3px dashed #666;
    margin-right: 10px;
    display: inline-block;
    height: 250px;
    width: 250px;
    vertical-align: middle;
}
.step-placeholder {
    border: 3px dashed #666;
    height: 215px;
}
.tour-button {
    padding: 6px 12px;
    background: #333;
    border: 1px solid #CCC;
    color: #EEE;
    margin: 10px 5px 20px 0;
}
button.button.tour-button[disabled] {
    background: #CCC;
}
.tour-button.save {
    margin-left: 345px;
}
.success-box {
    position: fixed;
    top: 300px;
    left: 0;
    padding: 30px 0;
    z-index: 100000;
    border: 1px solid #DDD;
    font-size: 19px;
    background: cadetblue;
    width: 100%;
    text-align: center;
    color: #FFF;
    opacity: .75;
    display: none;
}
.error-box {
    width: 25%;
    background: crimson;
    color: #FFF;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: none;
}
a.back {
    margin-top: 10px;
    display: block;
}
a.edit-label {
    font-size: 12px;
    vertical-align: middle;
}
.reorder-backdrop {
    z-index: 999;
}
.stop-reorder {
    display: none;
    width: 100%;
    font-size: 25px;
    padding: 20px;
    margin: 0;
}
p.image-caption {
    height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
    margin: 10px;
}
p.filename {
    height: 20px;
    text-overflow: ellipsis;
}
.alerts.shared-flashmessageslegacy {
    padding: 0 10px;
    background-color: #f2bac1;
    margin-bottom: 15px;
}
.alert {
    margin-bottom: 0;
}

/* INTERACTIVE MENU */
.interactive-menu {
    width: 300px;
    height: 100%;
    background: #FFF;
    box-sizing: border-box;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 999;
    transition: right .5s;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.interactive-menu.open {
   right: 0;
}
.interactive-tour-container {
    overflow: scroll;
    padding: 20px;
    height: 90%;
}
.interactive-tour-url span {
    width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}
.step {
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-shadow: 3px 5px 5px -3px rgba(138,134,138,0.2);
}
.step h4 {
    padding: 6px 10px 6px 30px;
    margin: 0;
    background: #eee;
    position: relative;
}
.drag-handle {
    cursor: move;
    width: 9px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    list-style: none;
    margin: 0;
    padding: 4px 4px 0 3px;
    border-right: 1px solid #CCC;
    background: #DDD;
}
.drag-handle li{
    float: left;
    background: #AAA;
    list-style: none;
    width: 2px;
    height: 2px;
    margin: 2px 0px 0px 2px;
    display: block;
}
.step h4 a {
    color: #333;
}
.step-assets {
    padding: 10px
}
.element-edit-action {
    display: none;
}
.element-edit-action {
    margin-bottom: 10px;
}
.control-label {
    font-weight: bold;
}
.step-caption {
    margin-top: 10px; 
}
.highlight-message {
    position: fixed;
    top: 50%;
    width: 100%;
    left: 0;
    background: #09c;
    padding: 8px;
    text-align: center;
    font-size: 24px;
    color: #FFF;
    display:none;
}
.highlight-message img {
    width: 50px;
    margin: 10px;
}
.back {
    display: block;
    position: absolute;
    bottom: 0;
    line-height: 26px;
    right: 0;
    background: #EEE;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.iframe-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-right: 300px;
    height: 100%;
    width: 100%;
    background: #CCC;
    display: none;
    border: 8px solid #CCC;
    box-sizing: border-box;
}
.iframe-info {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 40px;
    background: #FFF;
    border: 1px solid #333;
    margin-bottom: 10px;
    font-size: 14px;
}
body.open-right {
    margin-right: 300px;
    position: fixed;
}
body.outline-dom {
    transition: border .2s;
    border: 3px solid #09c;
}
header {
    transition: margin .5s;
    margin-top: 0;
    margin-bottom: 0;
}
span.header-extra.tourname {
    float: right;
}
header.hidden {
    transition: .5s;
    margin-top: -40px;
    margin-bottom: 40px;
}
.alert-error,
.auto-options {
    display: none;
}